footer{
    height: 100px;
    padding: 1px;
    background-color: var(--dark-color);
    color: var(--bright-color);
}
footer img{
    position: absolute;
    transform: scale(0.01);
    top: 300px;
    opacity: 0;
    transition: scale 100ms ease, opacity 100ms ease;
}
footer img.pressed{
    transform: scale(1);
    opacity: 1;
}