header{
    padding: 1px;
    background-color: var(--dark-color);
    color: var(--bright-color);
    display: grid;
    grid-template-columns:35px 1fr;
    position: relative;
}

/*      menu-btn    */
#menu-btn{
    width: 30px;
    height: 25px;
    grid-column: 1/2;
    position: relative;
    margin: auto;
    cursor: pointer;
}
#menu-btn *{
    display: inline-block;
    width: 100%;
    height: 5px;
    border-radius: 15px;
    background-color: var(--bright-color);
    position: absolute;
    margin: auto;
}
#menu-btn #top{
    top: 0;
}
#menu-btn #mid{
    top: 10px;
}
#menu-btn #bot{
    top:20px;

}
#menu-btn.pressed #bot{
    transform: rotate(45deg) translate(-5px,-9px);
}
#menu-btn.pressed #mid{
    opacity: 0;
    transform: scaleX(0);
}
#menu-btn.pressed #top{
    transform: rotate(-45deg) translate(-5px,9px);
}
#menu-btn.pressed{
    z-index: 12;
    transform: translateX(300px);
    position: fixed;
    top: 33.5px;
}

/*      menu     */
#menu-bg{
    width: 350px;
    height: 100vh;
    background-image: linear-gradient(180deg,var(--dark-color),var(--bg-color),var(--bg-color),var(--bg-color),var(--bg-color));
    z-index: 10;

}
nav#menu{
    z-index: 11;
    display: grid;
    width: 350px;
    height: fit-content;
    position: fixed;
    transform: translateX(-100%);
    grid-template-rows: 40vh 160px 190px;
    gap: 2px;
    text-align: center;
    font-size: 20px;
    left: 0;
    top: 0;
}
nav#menu.pressed{
    transform: translateX(0);
}

        /*      contact      */
nav#menu #contact{
    z-index: 11;
    text-align: center;
    font-size: 20px;
    vertical-align: middle;
    background-color: var(--dark-color);
    grid-row: 2 / 3;
    height: 80px;
    margin-top: 80px;
    user-select: none;
}
nav#menu #contact-title{
    cursor: pointer;
}
nav#menu #info{
    z-index: 11;
    margin-bottom: 20px;
    opacity: 0;
    transform: translateY(80%);
    font-size: 1em;
}
nav#menu #contact.pressed{
    margin-top: 0;
    border-radius: 15px 15px 0 0 ;
    height: 100%;
}
nav#menu #info.pressed{
    opacity: 1;
    display: block;
    transform: translateY(0);
}
        /*     authors     */

nav#menu #authors{
    z-index: 12;
    vertical-align: middle;
    background-color: var(--dark-color);
    grid-row: 3 / 4;
    user-select: none;
    height: 80px;
}
nav#menu #authors-title{
    cursor: pointer;
    background-color: var(--dark-color);
}
nav#menu #author-list{
    z-index: 10;
    margin-bottom: 20px;
    opacity: 0;
    transform: scale(0) translateY(-100%);
    font-size: 1em;
}
nav#menu #authors.pressed{
    height: 100%;
    border-radius: 0 0 15px 15px;
}
nav#menu #author-list.pressed{
    opacity: 1;
    display: block;
    transform: scale(1) translateY(0);
}

